<footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
    <!--botón wa-->
  <a href="https://api.whatsapp.com/send?phone=541159197589&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20cortes%20de%20uñas%20y%20peluquería%20para%20perros%20a%20domicilio%20en%20" class="float" target="_blank">
    <i class="fa-brands fa-whatsapp my-float"></i>
  </a>
<!--botón wa-->
  </footer>

  