<header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container px-0">
        <a class="navbar-brand" href="/">
          <span>
            Taller ARIEL
          </span>
        </a>
        <div class="contact_nav" id="">
          <a class="nav-link" href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Ubicación</span>
          </a>
          <a class="nav-link" href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Call : + 54 11 5017 8105</span>
          </a>
          <a class="nav-link" href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>demo@gmail.com</span>
          </a>
        </div>
      </nav>
    </div>
  </header>