<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="img-box ">
            <img src="/home/images/about-img.jpg" class="box_img" alt="about img">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="detail-box pr-md-2">
            <div class="heading_container">
              <h2 class="">
                About Us
              </h2>
            </div>
            <p class="detail_p_mt">
              Facere corporis quis non quas assumenda repudiandae rem, at fugit rerum fugiat deserunt sequi necessitatibus accusantium doloribus veniam quo consequatur cumque illum nostrum consectetur nobis impedit deleniti.
            </p>
            <p>
              Nisi quod sequi minima? Saepe cupiditate, voluptates temporibus vel magni id laborum odio quis dicta quaerat tempora nemo. Atque ratione numquam fugit ullam eos illo adipisci dicta dignissimos cumque quasi!
            </p>
            <a href="about.html" class="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>